<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
  today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
  experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="/components/es5-shim/es5-shim.min.js"></script>
<script src="/components/json3/lib/json3.min.js"></script>
<![endif]-->

<div class="ml4-pages root-page">

  <div class="big-header">

    <div class="base-container big-header-content">
      
      <h1 class="root-tagline">Movie Recommendation</h1>
      <h1 class="root-tagline">Non-commercial, personalized movie recommendations.</h1>

      <div class="header-actions">
        <a href="/signup" class="btn btn-sign-up btn-lg" role="button">sign up now</a>
        <span style="margin: 0 12px;">or</span>
        <a href="/login" class="btn btn-sign-up btn-lg">sign in</a>
      </div>

    </div>
  </div>

  <div class="root-section">
    <div class="base-container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="section-header">recommendations</h2>
          <p>
            MovieRecommendator helps you find movies you will like.
            Rate movies to build a custom taste profile, then MovieRecommendator recommends other movies for you to watch.
          </p>
        </div>
        <div class="col-md-8">
          <img src="static/images/site/movie2.jpg" class="img-responsive marketing-img">
        </div>
      </div>
    </div>
    <!-- end .base-container -->
  </div>
  <!-- end .root-section -->

  <div class="root-section">
    <div class="base-container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="section-header">rich data</h2>
          <p>
            Learn more about movies with rich data, images, and trailers.
            Browse movies by community-applied tags, or apply your own tags.
            Explore the database with expressive search tools.
          </p>
        </div>
        <div class="col-md-8">
          <img src="static/images/site/movie3.jpg" class="img-responsive marketing-img">
        </div>
      </div>
    </div>
    <!-- end .base-container -->
  </div>
  <!-- end .root-section -->

  <div class="root-section">
    <div class="base-container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="section-header">more ninja</h2>
          <p>
            Find movies that are similar to the ones you like.
            Tune the matching algorithm so that the results are "less violent", "more realistic", or "more ninja".
          </p>
        </div>
        <div class="col-md-8">
          <img src="static/images/site/movie4.jpg" class="img-responsive marketing-img">
        </div>
      </div>
    </div>
    <!-- end .base-container -->
  </div>
  <!-- end .root-section -->


  <div class="root-section">
    <div class="base-container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="section-header">science</h2>
          <p>
            MovieRecommendator is run by <a href="http://vertos.org" target="_blank">Vertos</a>, a research lab at the
            Lovely Professional University.
            By using MovieRecommendator, you will help vertos develop new experimental tools and interfaces for data
            exploration and recommendation.
            MovieRecommendator is non-commercial, and free of advertisements.
          </p>
        </div>
        <div class="col-md-8">
          <img src="static/images/site/movie5.jpg" class="img-responsive marketing-img">
        </div>
      </div>
    </div>
    <!-- end .base-container -->
  </div>
  <!-- end .root-section -->

  <div class="root-section">
    <div class="base-container text-center">

      <div class="ml-font-subhead header-font well">
        <a href="/register" class="btn btn-primary btn-lg" role="button">sign up now</a>
        <span style="margin: 0 12px;">or</span>
        <a href="/go/login">sign in</a>
      </div>
    </div>
    <!-- end .base-container -->
  </div>
  <!-- end .root-section -->


  <div class="root-section">
    <div class="base-container text-center">
      <a href="/info/about">About MovieRecommendator</a> |
      <a href="/info/contact">Contact Us</a> |
      <a href="/info/privacy-policy">Privacy Policy</a> |
      <a href="/info/terms-of-use">Terms of Use</a>

      <div class="site-version">
        <p>   
          version
          4.5.0
          2020.9.20.1713
        </p>

        <p>
          All content copyright
          <a href="http://vertos.org">vertos Research</a> &copy; 2020 &bull; All rights reserved.
        </p>
      </div>
    </div>
    <!-- end .base-container -->
  </div>
  <!-- end .root-section -->

</div>

</body>
</html>